@model Dictionary<string,List<Cosmetics>>

<section class="hero-section cosmetics-page-hero text-white d-flex flex-column justify-content-center align-items-end">
    <div class="px-4 py-2 w-50">
        <h2 class="font-bold alter-font-family">
            “DESTROY YOUR PEACEFUL LIFE
            WITH THIS STUPID GAME.”
        </h2>
        <p class="color-secondary opacity-75 section-sublable">
            - Trust me, I have spent thousands of hours and money.
        </p>
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Expensive Cosmetics</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach(var cosmetic in Model.GetValueOrDefault("Expensive", new List<Cosmetics>()))
        {
            <div class="dota-cosmetic-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@cosmetic.Name</h4>
                <div>
                    <div class="cosmetic-image">
                        <img src="@Url.Content(cosmetic.ImageSource)" alt=@cosmetic.Name />
                    </div>
                    <div class="px-2">
                        <p class="text-md mb-0">Price: <span class="text-bolder text-sm">@cosmetic.Cost</span></p>
                        <p class="text-md mb-0">Date: <span class="text-bolder text-sm">@cosmetic.Date</span></p>
                    </div>
                    <div class="p-1 mt-2">
                        <p class="my-0 px-3 py-2 bg-midnight-blue-color">
                            @cosmetic.Description
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Aracanas</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var cosmetic in Model.GetValueOrDefault("Arcana", new List<Cosmetics>()))
        {
            <div class="dota-cosmetic-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@cosmetic.Name</h4>
                <div>
                    <div class="cosmetic-image">
                        <img src="@Url.Content(cosmetic.ImageSource)" alt=@cosmetic.Name />
                    </div>
                    <div class="px-2">
                        <p class="text-md mb-0">Price: <span class="text-bolder text-sm">@cosmetic.Cost</span></p>
                        <p class="text-md mb-0">Date: <span class="text-bolder text-sm">@cosmetic.Date</span></p>
                    </div>
                    <div class="p-1 mt-2">
                        <p class="my-0 px-3 py-2 bg-midnight-blue-color">
                            @cosmetic.Description
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Personas</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var cosmetic in Model.GetValueOrDefault("Persona", new List<Cosmetics>()))
        {
            <div class="dota-cosmetic-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@cosmetic.Name</h4>
                <div>
                    <div class="cosmetic-image">
                        <img src="@Url.Content(cosmetic.ImageSource)" alt=@cosmetic.Name />
                    </div>
                    <div class="px-2">
                        <p class="text-md mb-0">Price: <span class="text-bolder text-sm">@cosmetic.Cost</span></p>
                        <p class="text-md mb-0">Date: <span class="text-bolder text-sm">@cosmetic.Date</span></p>
                    </div>
                    <div class="p-1 mt-2">
                        <p class="my-0 px-3 py-2 bg-midnight-blue-color">
                            @cosmetic.Description
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Immortals</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var cosmetic in Model.GetValueOrDefault("Immortal", new List<Cosmetics>()))
        {
            <div class="dota-cosmetic-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@cosmetic.Name</h4>
                <div>
                    <div class="cosmetic-image">
                        <img src="@Url.Content(cosmetic.ImageSource)" alt=@cosmetic.Name />
                    </div>
                    <div class="px-2">
                        <p class="text-md mb-0">Price: <span class="text-bolder text-sm">@cosmetic.Cost</span></p>
                        <p class="text-md mb-0">Date: <span class="text-bolder text-sm">@cosmetic.Date</span></p>
                    </div>
                    <div class="p-1 mt-2">
                        <p class="my-0 px-3 py-2 bg-midnight-blue-color">
                            @cosmetic.Description
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

