@model Dictionary<string,List<Heroes>>

<section class="hero-section heroes-page-hero text-white d-flex flex-column justify-content-center align-items-end">
    <div class="px-4 py-2 w-50">
        <h2 class="font-bold alter-font-family">
            “DESTROY YOUR PEACEFUL LIFE
            WITH THIS STUPID GAME.”
        </h2>
        <p class="color-secondary opacity-75 section-sublable">
            - Trust me, I have spent thousands of hours and money.
        </p>
    </div>
</section>

<section class="container text-white my-5">
    <div class="text-center mb-4">
        <h3 class="section-label">
            Welcome to Heroes Album
        </h3>
        <p class="section-sublable text-start">
            This album showcases 20 heroes out of 100+ heroes that you can pick from the hero pool.
            Both team consist of 5 players and they can only pick heroes that are not yet picked.
            This means that in a normal game, there are only 10 unique heroes that will be played.
            Read the description of each picture to learn more.
        </p>
    </div>
</section>

<section class="container text-white my-5">
    <div class="d-flex align-items-center justify-content-center gap-3">
        <div>
            <img src="~/images/Agility_attribute_symbol.png" alt="agility-icon"/>
        </div>
        <h3 class="section-label">Agility Heroes</h3>
    </div>
    <p class="section-sublable text-start mb-5">
        Agility heroes tend to be more on the carry side due to their high mobility and power scaling.
        They can provide the team the damage output but may struggle first in the laning phase. This means
        that these type of heroes need a strong foundation at the start to get stronger in the late game.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var hero in Model.GetValueOrDefault("Agility", new List<Heroes>()))
        {
            <div class="dota-hero-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@hero.Name</h4>
                <div class="d-flex gap-3">
                    <div class="hero-image">
                        <img src="@Url.Content(hero.ImageSource)" alt=@hero.Name />
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-md mb-0">Base Attack: <span class="text-bolder text-sm">@hero.BaseAttack</span></p>
                        <p class="text-md mb-0">Base Armor: <span class="text-bolder text-sm">@hero.BaseArmor</span></p>
                        <p class="text-md mb-0">Base Movespeed: <span class="text-bolder text-sm">@hero.BaseMovespeed</span></p>
                        <p class="text-md mb-0">Atack Type: <span class="text-bolder text-sm">@hero.AttackType</span></p>
                    </div>
                </div>
                <div class="mt-0">
                    <div class="d-flex health-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Health}/{hero.Health}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.HealthRegen.ToString("F1")}")</p>
                    </div>
                    <div class="d-flex mana-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Mana}/{hero.Mana}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.ManaRegen.ToString("F1")}")</p>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                    @hero.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <div class="d-flex align-items-center justify-content-center gap-3">
        <div>
            <img src="~/images/Strength_attribute_symbol.png" alt="strength-icon" />
        </div>
        <h3 class="section-label">Strength Heroes</h3>
    </div>
    <p class="section-sublable text-start mb-5">
        Your team also needs someone to do the frontline. This is where strength heroes are preferebly
        used for due to their nature of having more health. Most of these heroes are played as offlane
        supporting early skirmishes and initiations.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var hero in Model.GetValueOrDefault("Strength", new List<Heroes>()))
        {
            <div class="dota-hero-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@hero.Name</h4>
                <div class="d-flex gap-3">
                    <div class="hero-image">
                        <img src="@Url.Content(hero.ImageSource)" alt=@hero.Name />
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-md mb-0">Base Attack: <span class="text-bolder text-sm">@hero.BaseAttack</span></p>
                        <p class="text-md mb-0">Base Armor: <span class="text-bolder text-sm">@hero.BaseArmor</span></p>
                        <p class="text-md mb-0">Base Movespeed: <span class="text-bolder text-sm">@hero.BaseMovespeed</span></p>
                        <p class="text-md mb-0">Atack Type: <span class="text-bolder text-sm">@hero.AttackType</span></p>
                    </div>
                </div>
                <div class="mt-0">
                    <div class="d-flex health-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Health}/{hero.Health}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.HealthRegen.ToString("F1")}")</p>
                    </div>
                    <div class="d-flex mana-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Mana}/{hero.Mana}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.ManaRegen.ToString("F1")}")</p>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                    @hero.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <div class="d-flex align-items-center justify-content-center gap-3">
        <div>
            <img src="~/images/Intelligence_attribute_symbol.png" alt="intelligence-icon" />
        </div>
        <h3 class="section-label">Intelligence Heroes</h3>
    </div>
    <p class="section-sublable text-start mb-5">
        Intelligence heroes mostly relies on their spells. Some of them are played as support and may
        even be played as mid. They have extremely high spell damage output and most may lack in attack damage.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var hero in Model.GetValueOrDefault("Intelligence", new List<Heroes>()))
        {
            <div class="dota-hero-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@hero.Name</h4>
                <div class="d-flex gap-3">
                    <div class="hero-image">
                        <img src="@Url.Content(hero.ImageSource)" alt=@hero.Name />
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-md mb-0">Base Attack: <span class="text-bolder text-sm">@hero.BaseAttack</span></p>
                        <p class="text-md mb-0">Base Armor: <span class="text-bolder text-sm">@hero.BaseArmor</span></p>
                        <p class="text-md mb-0">Base Movespeed: <span class="text-bolder text-sm">@hero.BaseMovespeed</span></p>
                        <p class="text-md mb-0">Atack Type: <span class="text-bolder text-sm">@hero.AttackType</span></p>
                    </div>
                </div>
                <div class="mt-0">
                    <div class="d-flex health-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Health}/{hero.Health}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.HealthRegen.ToString("F1")}")</p>
                    </div>
                    <div class="d-flex mana-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Mana}/{hero.Mana}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.ManaRegen.ToString("F1")}")</p>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                    @hero.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <div class="d-flex align-items-center justify-content-center gap-3">
        <div>
            <img src="~/images/Universal_attribute_symbol.png" alt="universal-icon" />
        </div>
        <h3 class="section-label">Universal Heroes</h3>
    </div>
    <p class="section-sublable text-start mb-5">
        Universal heroes are a new addition to the game. It has a unique nature unlike the original 3 attributes.
        They tend to have more attack damage. They are also very versatile and can be played almost any role. Exprienced
        player will mostly use these heroes as a nuker that deal high damage output.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var hero in Model.GetValueOrDefault("Universal", new List<Heroes>()))
        {
            <div class="dota-hero-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@hero.Name</h4>
                <div class="d-flex gap-3">
                    <div class="hero-image">
                        <img src="@Url.Content(hero.ImageSource)" alt=@hero.Name />
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-md mb-0">Base Attack: <span class="text-bolder text-sm">@hero.BaseAttack</span></p>
                        <p class="text-md mb-0">Base Armor: <span class="text-bolder text-sm">@hero.BaseArmor</span></p>
                        <p class="text-md mb-0">Base Movespeed: <span class="text-bolder text-sm">@hero.BaseMovespeed</span></p>
                        <p class="text-md mb-0">Atack Type: <span class="text-bolder text-sm">@hero.AttackType</span></p>
                    </div>
                </div>
                <div class="mt-0">
                    <div class="d-flex health-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Health}/{hero.Health}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.HealthRegen.ToString("F1")}")</p>
                    </div>
                    <div class="d-flex mana-bar my-1 px-2">
                        <p class="text-end flex-grow-1 text-bolder">@Html.Raw($"{hero.Mana}/{hero.Mana}")</p>
                        <p class="text-end flex-grow-1 text-small-75">@Html.Raw($"+{hero.ManaRegen.ToString("F1")}")</p>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                    @hero.Description
                </p>
            </div>
        }
    </div>
</section>