@model Dictionary<string,List<Items>>

<section class="hero-section items-page-hero text-white d-flex flex-column justify-content-center align-items-end">

</section>

<section class="container text-white my-5">
    <div class="text-center mb-4">
        <h3 class="section-label">
            Welcome to Items Album
        </h3>
        <p class="section-sublable text-start">
            This album showcases 20 items out of 200+ you can buy but you only have 6 active slots.
            Each item is unique and can be obtained by earning gold which will make your hero much stronger.
            It is an advantage to build items earlier than your opponent. Many items requires many components and 
            most Dota 2 veterans memorized the combination by heart.
        </p>
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Laning Phase Items</h3>
    <p class="section-sublable text-start mb-4">
       You start with 600 gold and don't have much for a perfect item build. It is recommended to go stats and
       start with survivability items like regen items. "Matod pa nila maayo rana sa sugod."
       <img src="~/images/gif/face_palm.gif" alt="facepalm"/>
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var item in Model.GetValueOrDefault("Laning_Phase", new List<Items>()))
        {
            <div class="dota-item-card">
                <div class="d-flex gap-2 px-1 py-2">
                    <div class="item-image w-25">
                        <img src="@Url.Content(item.ImageSource)" alt=@item.Name />
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="text-bolder text-md my-0">@item.Name</h5>
                        <div class="text-md">
                            <img src="~/images/Gold_symbol.png" alt="gold" />
                            <span>@item.GoldCost</span>
                        </div>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @item.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Armor/Health Items</h3>
    <p class="section-sublable text-start mb-4">
        Health and armor is a way to go if you want to be able to sustain a lot of damage and survive most of the damage thrown at you.
        Recommended for carry and tank heroes that needs to longevity during intense battle. "Pag item ug armor aron di kaayo sakit kung mo biya man gani siya."
        <img src="~/images/gif/confounded.gif" alt="cofounded"/>
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var item in Model.GetValueOrDefault("Armor_Health", new List<Items>()))
        {
            <div class="dota-item-card">
                <div class="d-flex gap-2 px-1 py-2">
                    <div class="item-image w-25">
                        <img src="@Url.Content(item.ImageSource)" alt=@item.Name />
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="text-bolder text-md my-0">@item.Name</h5>
                        <div class="text-md">
                            <img src="~/images/Gold_symbol.png" alt="gold" />
                            <span>@item.GoldCost</span>
                        </div>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @item.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Evasion/Invisibility Items</h3>
    <p class="section-sublable text-start mb-4">
        Evasion helps you survive more physical attacks as some of them will not deal damage as they miss.
        Invisibility helps you catching enemies off guard or flee safely when you are in danger. "Murag siya gud permi ga likay nimo
        ug di sad nimo siya makita na happy pa nimo."
        <img src="~/images/gif/tear.gif"/>
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var item in Model.GetValueOrDefault("Evasion_Invisibility", new List<Items>()))
        {
            <div class="dota-item-card">
                <div class="d-flex gap-2 px-1 py-2">
                    <div class="item-image w-25">
                        <img src="@Url.Content(item.ImageSource)" alt=@item.Name />
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="text-bolder text-md my-0">@item.Name</h5>
                        <div class="text-md">
                            <img src="~/images/Gold_symbol.png" alt="gold" />
                            <span>@item.GoldCost</span>
                        </div>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @item.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Resistance Items</h3>
    <p class="section-sublable text-start mb-4">
        Resistance items help mitigate damage from different type of damage sources. It helps you
        survive because you don't take the full amount of damage when you are being targeted. "Recommended ni nimo para
        less ra ang yayay ba kung di na siya nimo."
        <img src="~/images/gif/nervous.gif"/>
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var item in Model.GetValueOrDefault("Resistance", new List<Items>()))
        {
            <div class="dota-item-card">
                <div class="d-flex gap-2 px-1 py-2">
                    <div class="item-image w-25">
                        <img src="@Url.Content(item.ImageSource)" alt=@item.Name />
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="text-bolder text-md my-0">@item.Name</h5>
                        <div class="text-md">
                            <img src="~/images/Gold_symbol.png" alt="gold" />
                            <span>@item.GoldCost</span>
                        </div>
                    </div>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @item.Description
                </p>
            </div>
        }
    </div>
</section>