@model Dictionary<string,List<Neutrals>>

<section class="hero-section neutrals-page-hero text-white d-flex flex-column justify-content-center align-items-end">
    <div class="px-4 py-2 w-50">
        <h2 class="font-bold alter-font-family">
            “DESTROY YOUR PEACEFUL LIFE
            WITH THIS STUPID GAME.”
        </h2>
        <p class="color-secondary opacity-75 section-sublable">
            - Trust me, I have spent thousands of hours and money.
        </p>
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Small Neutral Creeps</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach(var neutral in Model.GetValueOrDefault("Small", new List<Neutrals>()))
        {
            <div class="dota-neutral-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@neutral.Name</h4>
                <div class="d-flex gap-3">
                    <div class="neutral-image w-50">
                        <img src="@Url.Content(neutral.ImageSource)" alt=@neutral.Name/>
                    </div>
                    <div class="w-50">
                        <p class="text-md mb-0">Health: <span class="text-bolder text-sm">@neutral.Health</span></p>
                        <p class="text-md mb-0">Health Regen: <span class="text-bolder text-sm">@neutral.HealthRegen</span></p>
                        <p class="text-md mb-0">Gold Bounty: <span class="text-bolder text-sm">@neutral.Gold</span></p>
                        <p class="text-md mb-0">XP: <span class="text-bolder text-sm">@neutral.XP</span></p>
                    </div>
                </div>
                <div class="p-1">
                    <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                        @neutral.Description
                    </p>
                </div>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Medium Neutral Creeps</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var neutral in Model.GetValueOrDefault("Medium", new List<Neutrals>()))
        {
            <div class="dota-neutral-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@neutral.Name</h4>
                <div class="d-flex gap-3">
                    <div class="neutral-image w-50">
                        <img src="@Url.Content(neutral.ImageSource)" alt=@neutral.Name />
                    </div>
                    <div class="w-50">
                        <p class="text-md mb-0">Health: <span class="text-bolder text-sm">@neutral.Health</span></p>
                        <p class="text-md mb-0">Health Regen: <span class="text-bolder text-sm">@neutral.HealthRegen</span></p>
                        <p class="text-md mb-0">Gold Bounty: <span class="text-bolder text-sm">@neutral.Gold</span></p>
                        <p class="text-md mb-0">XP: <span class="text-bolder text-sm">@neutral.XP</span></p>
                    </div>
                </div>
                <div class="p-1">
                    <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                        @neutral.Description
                    </p>
                </div>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Large Neutral Creeps</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var neutral in Model.GetValueOrDefault("Large", new List<Neutrals>()))
        {
            <div class="dota-neutral-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@neutral.Name</h4>
                <div class="d-flex gap-3">
                    <div class="neutral-image w-50">
                        <img src="@Url.Content(neutral.ImageSource)" alt=@neutral.Name />
                    </div>
                    <div class="w-50">
                        <p class="text-md mb-0">Health: <span class="text-bolder text-sm">@neutral.Health</span></p>
                        <p class="text-md mb-0">Health Regen: <span class="text-bolder text-sm">@neutral.HealthRegen</span></p>
                        <p class="text-md mb-0">Gold Bounty: <span class="text-bolder text-sm">@neutral.Gold</span></p>
                        <p class="text-md mb-0">XP: <span class="text-bolder text-sm">@neutral.XP</span></p>
                    </div>
                </div>
                <div class="p-1">
                    <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                        @neutral.Description
                    </p>
                </div>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Ancient Neutral Creeps</h3>
    <p class="section-sublable text-start mb-4">
        Lorem lorem lorem
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var neutral in Model.GetValueOrDefault("Ancient", new List<Neutrals>()))
        {
            <div class="dota-neutral-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@neutral.Name</h4>
                <div class="d-flex gap-3">
                    <div class="neutral-image w-50">
                        <img src="@Url.Content(neutral.ImageSource)" alt=@neutral.Name />
                    </div>
                    <div class="w-50">
                        <p class="text-md mb-0">Health: <span class="text-bolder text-sm">@neutral.Health</span></p>
                        <p class="text-md mb-0">Health Regen: <span class="text-bolder text-sm">@neutral.HealthRegen</span></p>
                        <p class="text-md mb-0">Gold Bounty: <span class="text-bolder text-sm">@neutral.Gold</span></p>
                        <p class="text-md mb-0">XP: <span class="text-bolder text-sm">@neutral.XP</span></p>
                    </div>
                </div>
                <div class="p-1">
                    <p class="mb-0 px-3 py-2 bg-midnight-blue-color">
                        @neutral.Description
                    </p>
                </div>
            </div>
        }
    </div>
</section>

