@model Dictionary<string,List<Players>>

<section class="hero-section players-page-hero text-white d-flex flex-column justify-content-center align-items-end">
    
</section>

<section class="container text-white my-5">
    <div class="text-center mb-4">
        <h3 class="section-label">
            Welcome to Players Album
        </h3>
        <p class="section-sublable text-start">
            This players are dedicating their life in DOTA 2. They are earning thousands to millions of dollars.
            You might be tempted to also pursue this path. However, your parents might not be happy especially if you
            are in an Asian household. 
        </p>
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">2023 TI Champions <img src="~/images/icons/ti.png"/></h3>
    <p class="section-sublable text-start mb-4">
        TI Championship is the grand tournament of DOTA 2. It has an insane prize pool which is also the most prized tournament
        in E-sports history. The highest prize pool was $40,018,400.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach(var player in Model.GetValueOrDefault("TI",new List<Players>()))
        {
            <div class="dota-player-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@player.Name</h4>
                <div class="player-image">
                    <img src="@Url.Content(player.ImageSource)" alt=@player.Name />
                </div>
                <div class="p-2">
                    <p class="text-md mb-0">Real Name: <span class="text-bolder text-sm">@player.RealName</span></p>
                    <p class="text-md mb-0">Team Role: <span class="text-bolder text-sm">@player.TeamRole</span></p>
                    <p class="text-md mb-0">Approx Winning: <span class="text-bolder text-sm">@player.ApproxWinning</span></p>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @player.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Filipino Pro Players <img src="~/images/icons/ph.png" /></h3>
    <p class="section-sublable text-start mb-4">
        Filipino teams and players in general can go up against the giants in the room. However, they have
        never won any TI Championship. They might not have won the biggest tournament in DOTA 2 but they have
        remarkable play where they defeated the European giants way back 2016 which was the team favorite to win the
        TI Championship. It was the biggest upset of DOTA 2 history and maybe in whole E-sports history.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var player in Model.GetValueOrDefault("Filipino", new List<Players>()))
        {
            <div class="dota-player-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@player.Name</h4>
                <div class="player-image">
                    <img src="@Url.Content(player.ImageSource)" alt=@player.Name />
                </div>
                <div class="p-2">
                    <p class="text-md mb-0">Real Name: <span class="text-bolder text-sm">@player.RealName</span></p>
                    <p class="text-md mb-0">Team Role: <span class="text-bolder text-sm">@player.TeamRole</span></p>
                    <p class="text-md mb-0">Approx Winning: <span class="text-bolder text-sm">@player.ApproxWinning</span></p>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @player.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Chinese Pro Players <img src="~/images/icons/cn.png" /></h3>
    <p class="section-sublable text-start mb-4">
        This players are one of the most prominent players in the world that can go toe to toe with TI winners.
        However, Chinese team has never won any TI Championship since 2016.
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var player in Model.GetValueOrDefault("Chinese", new List<Players>()))
        {
            <div class="dota-player-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@player.Name</h4>
                <div class="player-image">
                    <img src="@Url.Content(player.ImageSource)" alt=@player.Name />
                </div>
                <div class="p-2">
                    <p class="text-md mb-0">Real Name: <span class="text-bolder text-sm">@player.RealName</span></p>
                    <p class="text-md mb-0">Team Role: <span class="text-bolder text-sm">@player.TeamRole</span></p>
                    <p class="text-md mb-0">Approx Winning: <span class="text-bolder text-sm">@player.ApproxWinning</span></p>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @player.Description
                </p>
            </div>
        }
    </div>
</section>

<section class="container text-white my-5">
    <h3 class="section-label text-center">Banned Pro Players <img src="~/images/icons/banned.png" /></h3>
    <p class="section-sublable text-start mb-4">
        This players was banned and can no longer play competitive DOTA 2 for breaking the laws of the tournament. 
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-3">
        @foreach (var player in Model.GetValueOrDefault("Banned", new List<Players>()))
        {
            <div class="dota-player-card">
                <h4 class="mb-3 text-center text-bolder text-lg">@player.Name</h4>
                <div class="player-image">
                    <img src="@Url.Content(player.ImageSource)" alt=@player.Name />
                </div>
                <div class="p-2">
                    <p class="text-md mb-0">Real Name: <span class="text-bolder text-sm">@player.RealName</span></p>
                    <p class="text-md mb-0">Team Role: <span class="text-bolder text-sm">@player.TeamRole</span></p>
                    <p class="text-md mb-0">Approx Winning: <span class="text-bolder text-sm">@player.ApproxWinning</span></p>
                </div>
                <p class="mb-0 px-3 py-2 bg-midnight-blue-color flex-grow-1">
                    @player.Description
                </p>
            </div>
        }
    </div>
</section>